<ion-header>
  <ion-navbar> <ion-title>Home</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps that are
    going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
  <div *ngIf="myImage">
    <button (click)="zoomIn()">zoomin</button>
    <button (click)="zoomOut()">zoomOut</button>
    <button (click)="crop()">Crop</button>
    <button (click)="move(10, 0)">Move Left</button>
    <button (click)="move(-10, 0)">Move Right</button>
    <button (click)="move(0, 10)">Move Up</button>
    <button (click)="move(0, -10)">Move Down</button>
  </div>
  <img *ngIf="croppedImage" [src]="croppedImage" />
  <div *ngIf="myImage">
    <angular-cropper
      #angularCropper
      (touchstart)="cropperTouchStart($event)"
      [cropperOptions]="cropperOptions"
      [imageUrl]="myImage"
    ></angular-cropper>
  </div>

  <button (click)="getPicture()">Upload Image</button>
</ion-content>
